#character {
    color: #74bb71;
    font-size: 18px;
    padding: 9px;
}

#characterPicker {
    border-color: #74bb71;
    border-radius: 9px;
    border-style: solid;
    border-width: 1px;
    height: 165px;
    padding: 9px;
    margin-top: 18px;
    width: 300px;
}

#inputs {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    height: 54px;
}

#inputs>* {
    border-radius: 9px;
    height: inherit;
    margin-right: 9px;
}