/*
    Dark:
        Light: #595959
        Main: #303030
        Dark: #070707
        
    Color:
        Light: #74bb71
        Main: #448a44
        Dark: #0e5c1a
*/

a {
    color: #74bb71;
}

body {
    background-color: #303030;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    font-family: monospace;
    margin: 0 0 0 0;
    max-width: 100%;
    overflow-x: hidden;
}

footer {
    flex-shrink: 0;
    margin-right: 9%;
    padding: 18px;
    padding-left: 0px;
    width: 81%;
}

main {
    flex: 1 0 auto;
    margin-left: 9%;
    margin-right: 9%;
    width: 81%;
    margin-top: 36px;
    padding-top: 0px;
}

nav {
    background-color: #212121;
    color: #ffffff;
    height: 18px;
    padding: 9px;
    padding-left: 9%;
    padding-right: 9%;
    position: fixed;
    top: 0;
    width: 100%;
}

nav>a {
    color: #74bb71;
    margin: 9;
    padding: 9;
    text-decoration: none;
}

nav>a:hover {
    border-bottom: 2px solid #448a44;
}

nav>a:active {
    background-color: #595959;
}

nav>#current {
    border-bottom: 2px solid #0e5c1a;
}



/* CLASSES */
.game {
    margin-bottom: 18px;
}

.game-banner {
    width: 50%;
}

.sub-section {
    margin: 18px;
}



/* IDs */
#logo {
    height: 150px;
    width: 150px;
}

#main-header {
    display: none;
}

#theme-wrapper,
#theme-selector {
    position: fixed;
    right: .8em;
    top: .8em;
    z-index: 2000;
}

#theme-wrapper:hover a {
    margin-bottom: 9px;
}

#theme-wrapper ul {
    display: none;
    list-style-type: none;
}

#theme-wrapper:hover ul {
    background-color: #595959;
    box-shadow: 0 0 5 10 #000000;
    display: block;
}

#theme-wrapper ul,
#theme-wrapper li {
    margin-top: 18%;
    padding: 9px;
}

#theme-wrapper li:hover {
    background-color: #74bb71;
    color: #000000;
}



/* STATES */
:focus {
    outline: auto 9px;
    outline-color: #74bb71;
}



/* SCROLLBAR */
::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-thumb {
    background: #448a44;
    border: 0 solid #000;
    border-radius: 9px;
}

::-webkit-scrollbar-thumb:hover {
    background: #74bb71;
}

::-webkit-scrollbar-track {
    background: #070707;
}